body {
    background-color: black;
    color: white;
    font-family: arial;
}

h1 {
    color: white;
}

img {
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.choice_button {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border-color: gold;
}

p {
    color: white;
}

.move_choosen {
    background-color: rgb(255, 255, 255);

}