body {
    background-color: black;
}

.number {
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    color: white;
    background-color: rgba(128, 128, 128, 0.389);
}

.clear_button {
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    color: white;
    background-color: rgba(128, 128, 128, 0.389);
    font-size: 8px;
}

.operator {
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    color: white;
    background-color: orange;
}

p {
    color: white;
    font-family: arial;
    font-size: 25px;
}